<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form action="https://api.staticforms.xyz/submit" method="post">
          <input type="hidden" name="accessKey" value="アクセスキー">
          <input type="hidden" name="subject" value="件名">
          <input type="hidden" name="redirectTo" value="絶対パス">
          <div class="form-group row">
            <label for="inputName" class="col-sm-4 col-form-label"><%= form.label :name %></label>
            <div class="col-sm-8">
              <%= form.text_field :name %>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-4 col-form-label"><%= form.label :content %></label>
            <div class="col-sm-8">
              <%= form.text_area :content %>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputTextarea" class="col-sm-4 col-form-label"><%= form.label :limit %></label>
            <div class="col-sm-8">
              <%= form.datetime_select :limit %>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputTextarea" class="col-sm-4 col-form-label"><%= form.label :status %></label>
            <div class="col-sm-8">
              <%= form.select :status, ["未着手", "着手中", "完了"], include_blank: "選択して下さい" %>
            </div>
          </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-4 col-form-label"><%= form.label :priority %></label>
            <div class="col-sm-8">
              <%= form.select :priority, ["高" , "中", "低"], include_blank: "選択して下さい" %>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-4 col-form-label"><%= form.label :label %></label>
            <div class="col-sm-8">
              <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
            </div>
          </div>

          <div class="text-center">
            <%= form.submit %>
          </div>

        </form>
      </div>
    </div>
  </div>
</form>
<% end %>
