<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('layout.task.Task_Show') %></strong>
  <p>タスク名: <%= @task.name %></p>
  <p>内容: <%= @task.content %></p>
  <p>終了期限: <%= @task.limit %></p>
</p>

<%= link_to t('helpers.submit.Edit'), edit_task_path(@task) %> |
<%= link_to t('helpers.submit.Back'), tasks_path %>
