<p id="notice"><%= notice %></p>

<p>
  <strong>タスク詳細</strong>
  <%= @task.name %>
  <%= @task.content %>
</p>

<%= link_to t('helpers.submit.Edit'), edit_task_path(@task) %> |
<%= link_to t('helpers.submit.Back'), tasks_path %>
