<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to t('helpers.submit.Top'), root_path %></li>
        <li><%= link_to t('helpers.submit.New_Task'), new_task_path %></li>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社アラサー株式会社</p>
      <p>© 2020 AROUND_THIRTY</p>
    </footer>
  </body>
</html>
