<!DOCTYPE html>
<html>
  <head>
    <title>ManyoTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" <%= link_to t('helpers.submit.万葉タスク'), root_path %></a>
          </div>
          <div class="collapse navbar-collapse" id="navbarEexample">
            <ul class="nav navbar-nav">
              <li><%= link_to t('helpers.submit.New_Task'), new_task_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>運営会社アラサー株式会社</p>
      <p>© 2020 AROUND_THIRTY</p>
    </footer>
  </body>
</html>
